.textCenter {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.heading {
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: var(--color-text);

  & a {
    color: inherit;
    text-decoration: none;
  }
}

.h1 {
  font-size: 2.125rem;
  line-height: 3rem;
  color: var(--color-text);

  @media (max-width: 48rem) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  color: var(--color-text);

  @media (max-width: 48rem) {
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
}

.h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--color-text);

  @media (max-width: 48rem) {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}

.h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--color-text);
}

.h5 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--color-text);
}

.h6 {
  font-size: 1rem;
  line-height: 1.125rem;
  color: var(--color-text);
}

/* TODO add media queries to sizes */
.size1 {
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: var(--color-text);

  @media (max-width: 48rem) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.size2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  color: var(--color-text);

  @media (max-width: 48rem) {
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
}

.size3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  color: var(--color-text);

  @media (max-width: 48rem) {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}

.size4 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--color-text);
}

.size5 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--color-text);
}

.size6 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  color: var(--color-text);
}

.size7 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  color: var(--color-text);
}

.bold.bold {
  font-weight: 700;
}
