.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  flex-grow: 1;
}

.form {
  display: grid;
  gap: 2rem;
  width: 100%;
}
